@import 'OpenColors.css';
@import url('http://fonts.cdnfonts.com/css/ocr-a-extended');

:root {
	--vh: 1vh;
	--vw: 1vw;

	--w-c: calc(45 * var(--vw));
	--w-l: calc(25 * var(--vw));
	--w-r: calc(25 * var(--vw));
	--w-nav: calc(98.33 * var(--vw));

	--h-lcr: calc(75 * var(--vh));
	--h-nav: calc(20 * var(--vh));

	--w-word: calc(var(--w-c) * 0.45);
	--h-word: calc(var(--h-lcr) * 0.167 * 0.75);

	--h-nav-all: calc(var(--h-nav) * 0.8);
	--w-nav-d: calc(var(--w-l) * 1);
	--w-nav-gd: calc(var(--w-c) * 1);
	--w-nav-l: calc(var(--w-r) * 1);

	--w-nav-gd-all: calc(var(--w-nav-gd) / 3 * 0.8);
	--h-nav-gd-all: calc(var(--h-nav-all) * 0.8);

	--w-nav-l-all: calc(var(--w-nav-l) / 2 * 0.8);
	--h-nav-l-all: calc(var(--h-nav-all) * 0.8);
}

* {
	margin: 0;
	padding: 0;
	font-family: 'OCR A Extended', sans-serif;
}

.main {
	inset: 0;
	/* margin: auto; */

	width: calc(var(--vw) * 100);
	height: calc(var(--vh) * 100);

	display: grid;
	place-items: center;

	background-color: var(--oc-gray-9);
	grid-template:
		'n n n'
		'l c r';
}

.nav,
.left,
.center,
.right {
	border-radius: 2vh;
	background-color: var(--oc-gray-8);

	display: grid;
	place-items: center;
	place-content: center;
}

.nav {
	width: var(--w-nav);
	height: 20vh;

	grid-area: n;
	color: var(--oc-gray-3);
	box-shadow: inset 0 0 0 0.75vh var(--oc-gray-4),
		inset 0 0 0 1.5vh var(--oc-gray-6);

	grid-template: 'd g l';
	gap: 0.5vh;
}

.nav > * {
	display: grid;
	place-items: center;
	place-content: center;

	height: var(--h-nav-all);
	border-radius: 2vh;

	color: var(--oc-gray-4);
	box-shadow: inset 0 0 0 0.4vh var(--oc-gray-4),
		inset 0 0 0 0.8vh var(--oc-gray-6);
}

.nav > .menu {
	width: var(--w-nav-d);

	grid-template: 'f d';
	gap: calc(var(--w-nav-d) * 0.1);
}

.nav > .menu > * {
	display: grid;
	place-items: center;

	width: min(calc(var(--w-nav-d) * 0.4), calc(var(--h-nav-all) * 0.8));
	height: min(calc(var(--w-nav-d) * 0.4), calc(var(--h-nav-all) * 0.8));
}

.nav > .menu > .fullscreen {
	grid-area: f;
}

.nav > .menu > .dictionary {
	grid-area: d;
}

.nav > .menu > .dictionary > .svg-dictionary {
	width: 100%;
	height: 100%;
}

.nav > .menu > .fullscreen > .svg-fullscreen {
	width: 70%;
	height: 70%;
}

.nav > .game-details {
	width: var(--w-nav-gd);
	grid-template-columns: repeat(3, 1fr);
}

.nav > .game-details > * {
	display: grid;
	place-items: center;
	place-content: center;

	width: var(--w-nav-gd-all);
	height: var(--h-nav-gd-all);
}

.nav > .game-details > .level {
	font-size: calc(var(--h-nav-gd-all) * 0.6);
	color: var(--oc-teal-4);
}

.nav > .game-details > .timer {
	font-size: calc(var(--h-nav-gd-all) * 0.75);
	color: var(--oc-blue-4);
}

.nav > .game-details > .lives {
	font-size: calc(var(--h-nav-gd-all) * 0.3);
}

.nav > .game-details > .lives.l3 {
	color: var(--oc-green-5);
}

.nav > .game-details > .lives.l2 {
	color: var(--oc-yellow-5);
}

.nav > .game-details > .lives.l1 {
	color: var(--oc-red-5);
}

.nav > .links {
	display: grid;
	place-items: center;
	width: var(--w-nav-l);

	grid-template: 'v g';
	gap: calc(var(--w-nav-l) * 0.1);
}

.nav > .links > * {
	width: min(calc(var(--w-nav-l) * 0.4), calc(var(--h-nav-all) * 0.8));
	height: min(calc(var(--w-nav-l) * 0.4), calc(var(--h-nav-all) * 0.8));
}

.nav > .links > .vk {
	grid-area: v;

	width: 100%;
	height: 100%;
}

.nav > .links > .github {
	grid-area: g;

	width: 80%;
	height: 80%;
}

.center {
	place-content: none;

	width: var(--w-c);
	height: calc(var(--h-lcr) - 2 * calc(var(--h-lcr) * 0.03));
	padding: calc(var(--h-lcr) * 0.03);

	grid-area: c;
	box-shadow: inset 0 0 0 0.75vh var(--oc-gray-4),
		inset 0 0 0 1.5vh var(--oc-gray-6);

	gap: calc(var(--h-lcr) * 0.03);
}

.right {
	width: var(--w-r);
	height: var(--h-lcr);

	grid-area: r;
	box-shadow: inset 0 0 0 0.75vh var(--oc-green-4),
		inset 0 0 0 1.5vh var(--oc-green-6);
}

.left {
	width: var(--w-l);
	height: var(--h-lcr);

	grid-area: l;
	box-shadow: inset 0 0 0 0.75vh var(--oc-red-4),
		inset 0 0 0 1.5vh var(--oc-red-6);
}

.word-list {
	display: grid;
	place-items: start;
	place-content: start;
}

.center > .word-list {
	grid-template-columns: repeat(2, 1fr);

	gap: calc((var(--w-c) - var(--w-word) * 2) / 8);
}

.right > .word-list {
	gap: calc((var(--w-r) - var(--w-word)) / 8);
}

.left > .word-list {
	gap: calc((var(--w-l) - var(--w-word)) / 8);
}

.word {
	width: calc(var(--w-word) - 2em);
	height: var(--h-word);

	display: grid;
	place-items: center;
	place-content: center;
	padding: 0 1em;

	border-radius: 2vh;
	font-size: calc(var(--w-c) * 0.05);

	background-color: var(--oc-gray-8);
	color: var(--oc-orange-3);
	box-shadow: inset 0 0 0 0.4vh var(--oc-yellow-4),
		inset 0 0 0 0.8vh var(--oc-yellow-6);
}

.continue-button {
	width: calc(2 * var(--w-word) + (var(--w-c) - var(--w-word) * 2) / 8);
	height: var(--h-word);

	display: grid;
	place-items: center;

	border-radius: 2vh;
	font-size: calc(var(--w-c) * 0.05);

	background-color: var(--oc-gray-8);
	color: var(--oc-cyan-3);
	box-shadow: inset 0 0 0 0.4vh var(--oc-blue-6),
		inset 0 0 0 0.8vh var(--oc-blue-8);
}

.message {
	width: calc(var(--w-word) * 2 + (var(--w-c) - var(--w-word) * 2) / 8 - 2em);
	height: calc(
		var(--h-word) * 4 + 3 * (var(--w-c) - var(--w-word) * 2) / 8 - 2em
	);

	display: grid;
	place-items: center;
	padding: 1em;

	border-radius: 2vh;
	font-size: calc(var(--w-c) * 0.075);

	background-color: var(--oc-gray-8);
	color: var(--oc-cyan-3);
	box-shadow: inset 0 0 0 0.4vh var(--oc-blue-6),
		inset 0 0 0 0.8vh var(--oc-blue-8);
}

.word.correct {
	color: var(--oc-teal-4);
	box-shadow: inset 0 0 0 0.4vh var(--oc-green-6),
		inset 0 0 0 0.8vh var(--oc-green-8);
}

.word.incorrect {
	color: var(--oc-pink-4);
	box-shadow: inset 0 0 0 0.4vh var(--oc-red-6),
		inset 0 0 0 0.8vh var(--oc-red-8);
}

.movable {
	position: absolute;
	left: 0;
	top: 0;
}

.invisible {
	box-shadow: none;
	color: none;
	opacity: 0;
}

.hidden {
	display: none;
}
